{% extends "base.html" %}

{% block title %}Student Form{% endblock %}

{% block content %}
  <div class="container">
    <div class='row justify-content-center'>
      <div class="col-md-8">
      <h1>Student Information</h1>

      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <p>
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    </div>

  </div>
  {% if submitted %}
    <h2>Student Information</h2>
    <p><strong>Name:</strong> {{ student_name }}</p>
    <p><strong>Student ID:</strong> {{ student_id }}</p>
    <p><strong>Major:</strong> {{ major }}</p>
    <p><strong>Class Standing:</strong> {{ class_standing }}</p>
    <p><strong>Programming Languages:</strong> {{ programming_languages }}</p>
    <p><strong>Graduation Year:</strong> {{ graduation_year }}</p>
    <p><strong>Comments:</strong> {{ comments }}</p>
  {% endif %}
{% endblock %}
